.coin-icon-container {
  width: 48px;
}

.coin-icon {
  font-size: 24px;
}

.coin-ticker,
.coin-name {
  line-height: 16px;
  margin: 0;
  max-width: 100px;
}

.coin-name {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}
